## Data Ingestion

In [1]:
from data_ingestion.ingest import appliance_energy_data

In [2]:
type(appliance_energy_data)

pandas.core.frame.DataFrame

In [3]:
appliance_energy_data.head(3)

                  date  Appliances  lights     T1       RH_1  ...  Windspeed  Visibility  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  19.89  47.596667  ...   7.000000   63.000000        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  19.89  46.693333  ...   6.666667   59.166667        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  19.89  46.300000  ...   6.333333   55.333333        5.1  28.642668  28.642668

[3 rows x 29 columns]